<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio-1</title>
    <link rel="shortcut icon" href="/src/emoji.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://stackpath.b">
    <link rel="stylesheet" href="/desafio-1.css">
</head>
<body>
    <div class="container">
        <div class="icon-bar">
     <header>
        <section>
            <a href="#banner" data-menu><img src="../../../assets/voltar 1.png" alt=""></a>
            <a href="#banner" data-menu><img src="../../../assets/avancar.png" alt=""></a>
        </section>
     </header>
            
        <div id="divBusca">
            <input type="text" id="txtBusca" placeholder="Buscar..."/>
            <img src="../../../assets/buscar.png" id="btnBusca" alt="Buscar"/>
          </div>
          
         <section>
            <a href="#banner" data-menu><img src="../../../assets/three.png" alt=""></a>
            <a id="foto-horizontal" href="#banner" data-menu><img src="../../../assets/foto perfil.jpg" alt=""></a>
        </section>
        <section>
            <a class="menos" href="#banner" data-menu><img src="../../../assets/menos.png" alt=""></a>
            <a class="quadradinho" href="#banner" data-menu><img src="../../../assets/quarado-2.png" alt=""></a>
            <a class="fechar" href="#banner" data-menu><img src="../../../assets/delete.png" alt=""></a>
        </section>    
    
        </div>
      </div>
    <nav class="menu">
        <a href="#banner" class="ativo" data-menu><img src="../../../assets/musical.png" alt=""></a>
        <p>Atividades</p>
        <a href="#banner" data-menu><img src="../../../assets/chat-1.png" alt=""></a>
        <p>Chat</p>
        <a href="#banner" data-menu><img src="../../../assets/time.png" alt=""></a>
        <p>Equipe</p>
        <a href="#banner" data-menu><img src="../../../assets/calendar-1.png" alt=""></a>
        <p>Caléndario</p>
        <a href="#banner" data-menu><img src="../../../assets/telefone.png" alt=""></a>
        <p>Chamada</p>
        <a href="#banner" data-menu><img src="../../../assets/ajuda.png" alt=""></a>
      <div class="ajuda">
        <a href="#banner" data-menu><img src="./img/ajuda.png" alt=""></a>
        <p>Ajuda</p>
      </div>
   </nav>
 
    <div id="area">
        <form>
        <textarea class="msg" cols="35" rows="8">Digite uma nova mensagem.</textarea>
        </form>
    <section>
        <main>
            <a href="#banner" data-menu><img src="../../../assets/font_color.png" alt=""></a>
            <a href="#banner" data-menu><img src="../../../assets/Clip.png" alt=""></a>
            <a href="#banner" data-menu><img src="../../../assets/emoji.png" alt=""></a>
            <a href="#banner" data-menu><img src="../../../assets/gif-2.png" alt=""></a>
            <a href="#banner" data-menu><img src="../../../assets/calendar.png" alt=""></a>
            <a href="#banner" data-menu><img src="../../../assets/AO-Angola-Flag-icon.png" alt=""></a>
            <a href="#banner" data-menu><img src="../../../assets/dois dedos.png" alt=""></a>
            <a href="#banner" data-menu><img src="../../../assets/BR-Brazil-Flag-icon.png" alt=""></a>
            <a href="#banner" data-menu><img src="../../../assets/exclamation.png" alt=""></a>
            <a href="#banner" data-menu><img src="../../../assets/fixe.png" alt=""></a>
          <div id="enviar">
            <a href="#banner" data-menu><img src="../../../assets/enviar.png" alt=""></a>
          </div>
        </main>
    </section>
      </div>
 <footer>
    <P>Desenvolvido por front Wilson Dala</P>
 </footer>
</body>
</html>
